body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}

a {
    text-decoration: none;
    color: inherit;
}