/* src/components/WorkshopCard/WorkshopCard.css */

.card {
    width: 412px;
    border-radius: 15px; /* Ваше закругление */
    overflow: hidden;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9; /* Ваш цвет фона */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-image-wrapper {
    /* Убираем фон отсюда, так как он теперь на всей карточке */
    padding-top: 20px;
    background-color: transparent; 
}

.card-image {
    width: 353px;
    height: 353px;
    margin: 0 auto;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: E9E9E9; 
}

.card-title {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-century {
    margin: 0;
    font-size: 14px;
    margin-right: auto;
    color: #000;
}


.card-button {
    width: auto;
    padding: 0 15px;
    height: 44px;
    border-radius: 22px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #FFFFFF;
    color: #000000;
}

.card-button-primary {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
}

.card-button:hover {
    background-color: #f0f0f0;
}

.card-button-primary:hover {
    background-color: #333333;
    color: #FFFFFF;
}